<div class="feedback-container px-4 pt-3 mb-4">
  <div *ngIf="!role">
    <h4 class="text-center mt-2 mb-5">Who would you like to give feedback you today?</h4>
    <button type="button" class="btn orange darken-3 text-white btn-block mb-3" (click)="onSelectRole('students')"  >
      <i class="fas fa-user-graduate fa-2x mr-3"></i>
      Student
    </button>
    <button type="button" class="btn text-white  yellow darken-3 btn-block " (click)="onSelectRole('teachers')" >
      <i class="fas fa-chalkboard-teacher fa-2x mr-3"></i>
      Teacher
    </button>
  </div>

  <div *ngIf="role && !selectedId" >
    <!-- Search form -->
    <form class="form-inline md-form form-sm active-purple active-purple-2 mt-2">
      <i class="fas fa-search" aria-hidden="true"></i>
      <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">
    </form>

    <div class="user-card row my-3" *ngFor="let user of users" (click)="selectUser(user.studId)">
      <div class="col-4 p-0">
        <img src="{{user.imageURL}}" height="100%" width="100%" style="border-top-left-radius:12px; border-bottom-left-radius: 12px"/>
      </div>
      <div class="col-8 pl-2 py-2">
        <strong>Full name: </strong> {{user.studName}}<br/>
        <strong>Role: </strong> {{user.role}}<br/>
        <strong>{{user.role == 'student' ? 'Student Id: ': 'Staff Id: '}} </strong> {{user.studId}}
      </div>
    </div>
  </div>

  <div class="feedback-form" *ngIf="receiver">
    <div class="student-feedback-form text-center" >
      <h5>{{role === "students"? "Student": "Teacher"}} Feedback Form </h5>
      <p>Receiver: <strong>{{receiver.studName}}</strong></p>
      <div class="attribute-area" >
        <app-attribute-slider
          [leftLabel]="role === 'students' ? studentAttributeName.contributor : teacherAttributeName.slowPaced"
          [rightLabel]="role === 'students' ? studentAttributeName.leader : teacherAttributeName.fastPaced"
        ></app-attribute-slider>
        <app-attribute-slider
          [leftLabel]="role === 'students' ? studentAttributeName.independent : teacherAttributeName.oldFashioned"
          [rightLabel]="role === 'students' ? studentAttributeName.teamPlayer: teacherAttributeName.teachSavvy"
        ></app-attribute-slider>
        <app-attribute-slider
          [leftLabel]="role === 'students' ? studentAttributeName.listener : teacherAttributeName.quietLoud"
          [rightLabel]="role === 'students' ? studentAttributeName.talker : teacherAttributeName.loud"
        ></app-attribute-slider>
        <app-attribute-slider
          [leftLabel]="role === 'students' ? studentAttributeName.set: teacherAttributeName.laidBack"
          [rightLabel]="role === 'students' ? studentAttributeName.flexibility: teacherAttributeName.strict"
        ></app-attribute-slider>
        <app-attribute-slider
          [leftLabel]="role === 'students' ? studentAttributeName.calm : teacherAttributeName.preacher"
          [rightLabel]=" role === 'students' ? studentAttributeName.energetic: teacherAttributeName.collaborator"
        ></app-attribute-slider>
      </div>
    </div>

    <div class="comment-area mt-3">
      <div class="strength">
        <label for="strengthComment" > <strong>Strengths:</strong> </label>
        <textarea required class="form-control" placeholder="What is this person good at?" id="strengthComment" rows="3" [(ngModel)]="pros"></textarea>
      </div>
      <div class="Improvment mt-2">
        <label for="improvementComment"><strong>Improvements:</strong> </label>
        <textarea required class="form-control" placeholder="What can this person improve?" id="improvementComment" rows="3" [(ngModel)]="cons"></textarea>
      </div>
    </div>
    <button class="btn btn-success btn-block mt-2" (click)="submitFeedback()"> Submit </button>

  </div>

</div>
