.image-registration-container{
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%,-40%);
  background: white;
  border-radius: 14px;
  width: 85%;
}
#uploadImage{
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
label{
  font-weight: bolder;
  font-size: 1rem;
  margin: 0;
}
