<nav class="tab-menu-container navbar navbar-expand-lg navbar-dark primary-color">
  <ul class="tab-menu tabs-orange" id="myClassicTabOrange" role="tablist">
    <li class="nav-item">
      <a class="nav-link  waves-light active show" id="profile-tab-classic-orange" data-toggle="tab" href="#profile-classic-orange"
         role="tab" aria-controls="profile-classic-orange" aria-selected="true">
        <i class="fas fa-user fa-2x pb-2" aria-hidden="true"></i>
        <br>
        Profile
      </a>
    </li>
  </ul>


</nav>
