.tab-menu-container{
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding-bottom: 0;
}

.tab-menu{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  list-style: none;
  margin: 0;
}

.tab-menu li a {
  color: white;
  font-size: 12px;
  text-align: center;
}
.nav-item.active a {
  color: #fdd835 !important;
}
.nav-item:focus{
  outline: none;
}
