<div class="form-container">
  <form  #fIn="ngForm">
    <h1 class="text-center primary-text"> Log In</h1>
    <div id="userSignUp-data">
      <div class="form-group">
        <label for="emailLogin" >Email</label>
        <div class="input-group">
          <input type="email"
                 id="emailLogin"
                 name="email"
                 class="form-control"
                 [ngClass]=""
                 ngModel
                 required
                 email
                 #userEmail="ngModel" />
          <div class="invalid-tooltip">
            Please choose a unique and valid username.
          </div>
          <div class="valid-tooltip">
            Accepted!
          </div>
        </div>
      </div>

      <div class="form-group">

        <!--<span class="form-text error-message" *ngIf="errorMessage !== 'none'  && errorMessage.search('password') == -1 && fIn.dirty">{{errorMessage}}  </span>-->
      </div>
      <div class="form-group">
        <label for="passwordLogin">Password</label>
        <div class="input-group">
          <input type="password"
                 id="passwordLogin"
                 name="password"
                 class="form-control"
                 [ngClass]=""
                 ngModel
                 required
                 #userPassword="ngModel">
          <div class="invalid-tooltip">
            Please choose a unique and valid username.
          </div>
          <div class="valid-tooltip">
            Accepted!
          </div>
        </div>

        <!--<span class="form-text error-message" *ngIf="errorMessage !== 'none'  && errorMessage.search('password') !== -1 ">{{errorMessage}}  </span>-->
      </div>
    </div>
    <button type="button" class="login-btn btn btn-block"   [disabled] = "!fIn.dirty" >Log In</button>

  </form>
  <!--<div class="col-sm-12 mt-2 text-center">-->
    <!--<a (click)="changeToSignUp()" style=" text-decoration: underline; cursor: pointer; color: orange">Haven't got a buddy yet? Sign Up to find one! </a>-->
  <!--</div>-->
</div>
