<div class="setting-container px-5 pt-5">
  <button type="button" class="btn btn-block btn-info mt-2">Profile (coming soon)</button>
  <button type="button" class="btn btn-block btn-info mt-2">Account (coming soon)</button>
  <button type="button" class="btn btn-block btn-info mt-2">Give Us Feedback (coming soon)</button>
  <button type="button" class="btn btn-block btn-info mt-2">General (coming soon)</button>
  <button type="button" class="btn btn-block btn-danger mt-2" (click)="logOut()">Log Out</button>
</div>
